{% extends "blog/base.html"%}
{% block content %}
{% load static %}

    <h1>About</h1>
    <h4> We are Team TRAIZ: </h4>
    <p id="Vision">Our vision is to provide high quality software solutions.</p>
    
    <div>
        <div class="profil_Bilder">
            <img style="width: 190px; height: 190px;" alt="Image description" src="{% static '\images\vogel.jpg' %}"/>
            <h4>Arjhun Mohanarangam</h4>
            <p>Hallo my name is.... bla blabla vlblabla </p>
        </div>

        <div class="profil_Bilder">
            <img style="width: 150px; height: 200px;" alt="Image description" src="{% static '\images\Nils.jpg' %}"/>
            <h4>Nils Gemmeke</h4>
            <p>Hallo my name is.... bla blabla vlblabla </p>
        </div>


        <div class="profil_Bilder">
            <img style="width: 150px; height: 200px;" alt="Image description" src="{% static '\images\2_favorit.jpg' %}"/>
            <h4>Susanne Clara</h4>
            <p>Hallo my name is.... bla blabla vlblabla </p>
        </div>

     


        <p>Link of Google docs explanation</p>

    <div class="pitch_video">
            <div id="sonean">
                    <p>We colaborate with SONEAN:</p>
                    <img style="width: 120px; height: 40px;" alt="Image description" src="{% static '\images\SONEAN-Logo-177000.png' %}"/>
                </div>
                <br></br>

            <h4>Pitch Video:</h4>
            <video width="420" height="340" controls>
            <source src="{% static '\images\Dashboard.mp4' %}" type="video/mp4">
            </video> 
    </div>
    </div>


   



 <div id="Tools">
        <h4>Web Develope Tools</h4>
        <br>
        <p></p>
 </div>
  
           
        
   



{% endblock %}
