{% extends "blog/base.html"%}
{% block content %}
{% load static %}

    <h1>About</h1>
    <h4> We are Team TRAIZ: </h4>
    <p id="Vision">Inspiration, Enthusiasm and Commitment</p>
    
   
        <div class="profil_Bilder">
            <img style="width: 200px; height: 200px;" alt="Image description" src="{% static '\images\index.jpg' %}"/>
            <h4>Arjhun Mohanarangam</h4>
            <p class="text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.  </p>
        </div>

        <div class="profil_Bilder">
            <img style="width: 150px; height: 200px;" alt="Image description" src="{% static '\images\Nils.jpg' %}"/>
            <h4>Nils Gemmeke</h4>
            <p class="text">Lorem ipsum dolor sit amet, consetetur sadipscing dolor sit amet, consetetur saelitr, sed diam nonumy eiraliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. </p>
        </div>


        <div class="profil_Bilder">
            <img style="width: 150px; height: 200px;" alt="Image description" src="{% static '\images\2_favorit.jpg' %}"/>
            <h4>Susanne Clara</h4>
            <p class="text">Lorem ipsum dolor smpor invidunt inviduntut m dolor smpor invidunt utlabore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.  </p>
        </div>


     

    <br></br>

    <div id="sonean">
            <h4>We colaborate with SONEAN:</h4>
            <img style="width: 120px; height: 40px;" alt="Image description" src="{% static '\images\SONEAN-Logo-177000.png' %}"/>
        </div>
        <br>


    <div id="Link_Google">
        <h4>Learn more about our Product:</h4>
        <p>Googl Link to explanation</p>
    </div>
   


    <div id="pitch_video">
           
           
            <br></br>

            <h4>Pitch Video:</h4>
            <video id="video" width="420" height="340" controls>
            <source src="{% static '\images\Dashboard.mp4' %}" type="video/mp4">
            </video> 

            <div class="value_P">
                <h4 >Value Proposition</h4>
                <p > <b>For</b> companies,<br>
                <b>Which</b>   operate in a highly competitive market <br>
                <b>And</b>   try to keep or improve their market position by preventing
                merges of competitors or acquiring companies/ competitors by
                themselves <br>
                <b>Our</b>  solution provides key information on targets and
                opportunities for potential M&A candidates.</p>
                </div>


            
    </div>
<br><br>

<div>
    <p>

    </p>
</div>

{% endblock %}
