{% extends "blog/base.html"%}
{% block content %}
{% load crispy_forms_tags %}
<h1>Dashboard</h1>

<h6>Based on your preferences, we filter out the most important information for you. <br>This information is always pre-checked by our experts and updated frequently.</h6>

<iframe width="1300" height="688" frameborder="0" src="https://observablehq.com/embed/@sanniclara/2020-timeline?cell=DiDoesDigital2020Timeline&cell=tooltipStyles&cell=typographyStyles&cell=chartStyles&cell=backgroundColor"></iframe>
<h5>You can Filter out Information based on a specific country</h5>
<iframe width="100%" height="443" frameborder="0"
  src="https://observablehq.com/embed/@sanniclara/2020-timeline/2?cell=country&cell=selectedCountry&cell=viewof+Namen2&cell=DiDoesDigital2020Timeline&cell=tooltipStyles&cell=chartStyles"></iframe>
  <iframe width="100%" height="500" frameborder="0"
  src="https://observablehq.com/embed/@sanniclara/all-new-product-launches?cell=*"></iframe>
  <iframe width="100%" height="500" frameborder="0" src="https://observablehq.com/embed/@sanniclara/hot-topics?cell=*"></iframe>

<div id="dashboard_div_eins">
</div>                
                    

<div>
        <div class="NewsUndResearch">
        
            </div>
        
        
                    
                        <div class="NewsUndResearch">
               
                    </div>  



{% endblock %}
