{% extends "blog/base.html"%}
{% block content %}
  
 <div id="dashboard_div_eins">
        <h1>News:</h1>
        <h4>Filter:</h4>
            <div class="div_dashboard">
                    <form>
                                <label for="fname">Company: </label><br>
                                <textarea type="text" id="fname" name="fname" rows="1" cols="20"></textarea><br><br>
                    </select>
            </div>

            <div class="div_dashboard">
                <form>
                            <label for="fname">Company: </label><br>
                            <textarea type="text" id="fname" name="fname" rows="1" cols="20"></textarea><br><br>
                </select>
            </div>

            <div class="div_dashboard">
                <form>
                            <label for="fname">Company: </label><br>
                            <textarea type="text" id="fname" name="fname" rows="1" cols="20"></textarea><br><br>
                </select>
            </div>

            <div class="div_dashboard">
                <form>
                            <label for="fname">Company: </label><br>
                            <textarea type="text" id="fname" name="fname" rows="1" cols="20"></textarea><br><br>
                </select>
            </div>

            <div class="NewsUndResearch">
                <h2>Hot Topics:</h2>
                <div class="NewsReihen"></div>  
                <div class="NewsReihen"></div>
                <div class="NewsReihen"></div>
                <div class="NewsReihen"></div>
                <div class="NewsReihen"></div>
                <div class="NewsReihen"></div>
                <div class="NewsReihen"></div>
                <div class="NewsReihen"></div>
                <div class="NewsReihen"></div>
            </div>


            <div class="NewsUndResearch">
                <h2>Product and Research News:</h2>
                <div class="NewsReihen"></div>
                <div class="NewsReihen"></div>
                <div class="NewsReihen"></div>
                <div class="NewsReihen"></div>
                <div class="NewsReihen"></div>
                <div class="NewsReihen"></div>
                <div class="NewsReihen"></div>
                <div class="NewsReihen"></div>
                <div class="NewsReihen"></div>
            </div>

        
                    

</div>

<div id="Timeline">
        <h4>New Signals Timeline:</h4>

            <div>
                <h5>Select a time frame:</h5>
                <p class="resultsP">From:</p>
                <input type="date" class="resultsD">
                <p class="resultsPTo">To:</p>
                <input type="date" class="resultsD">
                <button id="button">OK</button>
            </div>


</div>

<div id="Timeline_Viz">
    <div class="newSignal"></div>
    <div class="newSignal"></div>
    <div class="newSignal"></div>
    <div class="newSignal"></div>  
    <div class="newSignal"></div>
    <div class="newSignal"></div>
    <div class="newSignal"></div>
    <div class="newSignal"></div>
    <div class="newSignal"></div>  
    <div class="newSignal"></div>
    <div class="newSignal"></div>
    <div class="newSignal"></div>
    <div class="newSignal"></div>
    <div class="newSignal"></div>  
    <div class="newSignal"></div>
    <div class="newSignal"></div>
    <div class="newSignal"></div>
    <div class="newSignal"></div>
    <div class="newSignal"></div>  
    <div class="newSignal"></div>
</div>




{% endblock %}
