{% extends "blog/base.html"%}
{% load static %}

{% block content %}
    <div id="policy" >
            <h1>Policy</h1>
            <br>
            <h5>We believe in Human Labour</h5>

        <p >
            Manual work still is and always will be important. This also applies to our product. Without human labour it is not possible to continue this product. Also, data and the decision about data will always be given in the hands of humans. That is our team policy. As developers of this product, we promise to handle all our data responsibly. 
            We only use accessible data and do not violate any intellectual property rights with our product. <br></br>
Furthermore, we always want to use human competence in data processing. Counter-checking and selecting is still a human task that must be done by qualified workers to ensure the quality of our product. Especially on the dashboard side, the domain competence of individuals cannot be dispensed with. With our product we want to strengthen the preservation of jobs. 

        </p>
<br>
        <h5>Fairness</h5>

        <p >
                We believe in equal rights for all. This means that our product does not support or promote restrictions on freedom, racism and crime. We consciously work with our data against prejudice and fraud. For us, 
                aggregating high quality data also means taking action against fake news and looking very closely at all new incoming data. 
        </p>
   <br>

        <h5>Violation of Rights </h5>

        <p >
                With our product we undertake not to infringe the rights of third parties. 
                This means the collection and use of private and protected data from third parties. 
            
        </p>
        <br></br>

        <h5>Data protection principles
        </h5>
        <p >
                TRAIZ is committed to processing data in accordance with its responsibilities under the GDPR. 
                Article 5 of the GDPR requires that personal data shall be:   <br></br>

                a.	processed lawfully, fairly and in a transparent manner in relation to individuals;   <br></br>


                b.	collected for specified, explicit and legitimate purposes and not further processed in a manner that is incompatible with those purposes; further processing for archiving purposes in the public interest, scientific or historical research purposes or statistical purposes shall not be considered to be incompatible with the initial purposes;<br></br>
                c.	adequate, relevant and limited to what is necessary in relation to the purposes for which they are processed;   <br></br>

                d.	accurate and, where necessary, kept up to date; every reasonable step must be taken to ensure that personal data that are inaccurate, having regard to the purposes for which they are processed, are erased or rectified without delay;  <br></br>

                e.	kept in a form which permits identification of data subjects for no longer than is necessary for the purposes for which the personal data are processed; personal data may be stored for longer periods insofar as the personal data will be processed solely for archiving purposes in the public interest, scientific or historical research purposes or statistical purposes subject to implementation of the appropriate technical and organisational measures required by the GDPR in order to safeguard the rights and freedoms of individuals; and    <br></br>

                f.	processed in a manner that ensures appropriate security of the personal data, including protection against unauthorised or unlawful processing and against accidental loss, destruction or damage, using appropriate technical or organisational measures.”
                
        </p>



    </div>

    <img  id="Logo_Policy" style="width: 290px; height: 95px;" alt="Image description" src="{% static '\images\logo.png' %}"/>

{% endblock %}
