{% extends "blog/base.html"%}
{% block content %}
    <h1>Target Finder</h1>
    <p>Start a very specific search. When our software has found a potential target, you will be informed by a alarm pop-up. </p><br></br>
   
<div> 

        <form method="POST">
            {% csrf_token %}
            {{ form }}
            <button type="submit" href="/results" >submit</button>
        </form>

    <div id="div1">
            <form id="input_fields">

                                    <div id="div1_1">
                                            <form > 
                                                        <label for="fname">Company: </label><br>
                                                        <textarea type="text" id="fname" name="fname" rows="1" cols="20"></textarea><br><br>
                                            </select>
                                            
                                                <form>
                                                                <label id="industry" for="fname">Industry: </label><br>
                                                                <textarea type="text" id="fname" name="fname" rows="1" cols="20"></textarea><br><br>

                                                                <label id="segmant" for="lname">Segment/ Spezialication: </label><br>
                                                                <textarea type="text" id="lname" name="lname" rows="1" cols="20"></textarea><br><br>

                                                                <label   for="cars">Revenue per year: </label><br>
                                                                <select id="revenuePerYear" name="cars">
                                                                <option text="ca">coming soon</option><br>
                                                </select>

                                    <br><br>

                                                    <form>
                                                        <label for="cities">Number of workers:</label><br>
                                                        <select name="ceferf" id="cars">
                                                        <option value="0-100">0-100</option>
                                                        <option value="101-500">101-500</option>
                                                        <option value="501-1000">501-1000</option>
                                                        <option value="1.000+">1.000+</option>
                                                        <option value="10.000">10.000+</option>
                                                    </select>
                                        
                                    </div>


                                            <div id="div1_2">

                                                <form method="post">{% csrf_token %}
                                                    <label for="fname">Country: </label><br>
                                                    <textarea name="country" type="text" id="fname" rows="1" cols="20"></textarea> <br><br>
                                                </form>

                                                    <label id="segmant" for="lname">Main Market: </label><br>
                                                    <textarea type="text" id="lname" name="lname" rows="1" cols="20"></textarea> <br><br>

                                                    <label id="Keywords" for="lname">Keyword Search: </label><br>
                                                    <textarea name="message" rows="8" cols="30"></textarea> 
                                            </div>
            </form>
        
    </div>



                        <div id="Indicators">
                                    <p class="box-überschrift">Prioritize Indicators:</p>
                                        
                                            <label class="container_in">Alliances
                                                <input type="checkbox" checked="checked">
                                                <span class="checkmark"></span>
                                            </label>

                                            <label class="container_in">Alternative Engines
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                            </label> 
                                            
                                            <label class="container_in">Capacity Increase
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                            </label> 
                                            
                                            <label class="container_in">Company Launch
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                            </label>   

                                            <label class="container_in">Corporate Finance
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                            </label>  
                                                
                                            <label class="container_in">Corporate M&A
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                            </label> 
                                            
                                            <label class="container_in">Human Resource
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                            </label>  
                                                
                                            <label class="container_in">Precision Technology
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                            </label>  

                                            <label class="container_in">Innovation
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                            </label>  
                                                
                                            <label class="container_in">Product Launches
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                            </label> 
            
                                            <label class="container_in">Product Upgrade
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                            </label>  
                                                
                                            <label class="container_in">Reporting
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                            </label> 

                                            <label class="container_in">Strategy
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                            </label>
                    </div>

                    <a  id="start" type="button" type="submit" value="Start" width="350" href="/results" text-decoration="none" >Start</a>

    </div>   
{% endblock %}
